
@{
    ViewBag.Title = "Consult";
}

<h2>Consult</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>CONSULTAR DECLARACIÓN SOBRE ENAJENACIÓN E INSCRIPCIÓN DE BIENES RAÍCES (F2890)</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="card">
        <div style="background: #0e2b45; color: white; padding:5px;">
            <h4 style="padding: 0.5%; padding-left: 1%; margin:0;">
                INFORMACIÓN DE LA PROPIEDAD ENAJENADA
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote" style="border-left: 2.5px solid #eeeeee; border-right: 2.5px solid #eeeeee; border-bottom: 2.5px solid #eeeeee; ">
                <div class="row g-4">

                    <div class="form-group">
                        <label class="control-label col-md-2">Comuna:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="comuna" placeholder="Ingrese Comuna">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Manzana:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="manzana" placeholder="Ingrese Manzana">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Predio:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="predio" placeholder="Ingrese Predio">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2">Año:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="year" placeholder="Ingrese Año">
                        </div>
                    </div>






                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>

                </div>
            </blockquote>
        </div>
    </div>




    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 bg-light text-right">
                    <button class="btn btn-primary" type="submit" style="margin:20px">Guardar</button>
                </div>
            </div>
        </div>
    </div>



}










<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
